
@media screen and (min-width: 1025px) and (max-width:1500px) {


	body { 
	background:url(../inc/images/background/patterns/fundo2.png);
	
}

.imgTop{
	background:url(../inc/images/background/patterns/fundo3.png);	
	width:100%;
	height: 300px;
}
#menu {	
	margin-top: 453px;
	height: 63px;
	width:100%;	
	
	}
	
	#menu h3{
	color: white;
	
	
	}
	#menu ul {
	margin-left: 30%;
	margin-top: -60px;	
	}
	
	
	
	#menu ul li {
	
	float: left;
	padding: 10px;
	list-style: none;
	}
	
	#panel  {
	
	width: 1px;
	margin-left: -20px;
	
}

.content-main{
	background-color: white;	
	margin-left:3%;
	width: 700px;
}
.container {	
	margin-top: 160px;	
}
#a{
	
	margin-top: -600px;
}

#panel ul  {	
	margin-top: -500px;
	float: left;
}

.row{
	
	margin-top: -80px;
}


.abc {
	margin-top: -220px;
	margin-left: 45%;	
	width: 50%;	
	}
	
	
	.abc p {
	color: #444444;
	text-align: justify;
	
	}


.title {
	
	margin-left: 440px;
	margin-top: 10px;
}



.imagem {
	width: 330px;
	height: 270px;
	margin-top: -50px;
	
	
}

}

@media screen and (min-width: 1022px) and (max-width:1500px) {
.abc {
	margin-top: -220px;
	margin-left: 48%;	
	width: 50%;	
	
	}
}